

  <!-- <div class="box">
    <div class="item1"></div>
    <div class="item2"></div>
  </div>

  <nav>
    <ul>
      <li>Home</li>
      <li>About</li>
    </ul>
  </nav>
  <p>Kriti Sanon is a mix of herself and Myra in new BTS pics from Bachchan Pandey sets
    </p> -->

    <div class="container">
      <div class="row r1">
        Welcome to RQI Analytics!
      </div>
      <div class="row">
        <div class="col-md-4 cl1" >
          <h2>Col1</h2>

        </div>
        <div class="col-md-4 cl2">
          <h2>Col2</h2>

        </div>
        <div class="col-md-4">
          <h2>Col3</h2>

        </div>
      </div>

    </div>